extend ../layout.jade

block end
  script(type='text/javascript', src='./js/lib/Chart.min.js')
  script(type='text/javascript', src='./js/module/chart.js')

block content
  div.container.ux-chart
    div.page-header
      h1 Button
    canvas.canvas1(width='300',height='300')
    table.table.ux-table-button
      tbody
        tr.ux-sum-button-a
          td.text A
          td.num 0
        tr.ux-sum-button-b
          td.text B
          td.num 0
        tr.ux-sum-button-c
          td.text C
          td.num 0
    div.page-header
      h1 Label
    canvas.canvas2(width='300',height='300')
    table.table.ux-table-label
      tbody
        tr.ux-sum-label-a
          td.text A
          td.num 0
        tr.ux-sum-label-b
          td.text B
          td.num 0
